.react-datepicker-popper {
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 8px;
  background-color: var(--element-background-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.react-datepicker__header {
  padding-top: 30px;
}

.react-datepicker__navigation--next {
  border-left-color: var(--color-primary);
}

.react-datepicker__navigation--next:hover {
  border-left-color: var(--color-primary);
}

.react-datepicker__navigation--previous {
  border-right-color: var(--color-primary);
}

.react-datepicker__navigation--previous:hover {
  border-right-color: var(--color-primary);
}

.react-datepicker__navigation {
  top: 30px;
}

.react-datepicker__day-names {
  margin: 12px 0;
}

.react-datepicker__header,
.react-datepicker__current-month {
  color: var(--title-text-color);
  background-color: var(--element-background-color);
  border-bottom: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--title-text-color);
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover,
.react-datepicker__day:focus,
.react-datepicker__month-text:focus,
.react-datepicker__quarter-text:focus,
.react-datepicker__year-text:focus {
  background-color: var(--color-primary);
  color: #fff;
  border-color: transparent !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  font-weight: var(--font-weight-bolder);
  color: var(--color-primary);
  background-color: transparent;
}

.react-datepicker__month-container {
  padding-bottom: 12px;
}
